.q-mt-lg.q-pa-md
  .text-h1.q-mt-lg.roboto.text-center= t('whatYouCanDo')
  .row.q-mt-xl
    .col-10.offset-1
      .row.q-col-gutter-lg
        .col-12.col-md-5
          .dash-card
            .card-section
              h3 Optimize your SEO!
            .card-section
              .row.q-col-gutter-lg.q-mb-lg
                .col-12.col-md-6.flex.justify-center
                  img.icon(src="/images/icons/stack-up.png")
                  .text-center
                    h6.q-my-sm= t('featuresOverviewFeature1')
                    p= t('featuresOverviewDescription1')
                .col-12.col-md-6.flex.justify-center
                  //- Additional features can be added here following the same pattern 
                .col-12.col-md-7
                  video(autoplay loop muted playsinline width="100%" height="100%" alt="a-pro article guide" src="/videos/apro-article-guide.mp4")