:root {
  --primary-color: #0fffad;
  --secondary-color: #2b90d9;
  --text-color: black;
  --light-gray: #f5f5f5;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  /* line-height: 1.6; */
}

h1, h2, h3, h4, h5, h6, p{
  margin-bottom: 0.5em;
  line-height: 1.2;
}
h1{
  font-size: 3.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
} 
.flex{
  display:flex;
}
@view-transition {
  navigation: auto;
}
.container{
  max-width:1536px;
}
input{
  padding: 10px 30px;
  border: 1px solid #0fffad;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

input:hover {
  border-color: #0fffad;
}

input:focus {
  border-color: #0fffad;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}

input::placeholder {
  color: #9e9e9e;
}
/* Create a custom animation */ 
/* @keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    opacity:0;
    transform: translateY(-5%);
  }
}

@keyframes move-in {
  from {
    opacity:0;
    transform: translateY(5%);
  }

  to {
    opacity:1;
    transform: translateY(0%);
  }
} */
/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: .1;
    transform: translateY(0px);
  }
} */
/* Apply the custom animation to the old and new page states */
/* ::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
} */