.nav-links{
  text-transform: uppercase;   
  font-size:14px;
}
.nav-links a{
  padding:4px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  font-weight: 500;
}
.nav-links a:hover{
  background:  rgba(0.25, 0.8, 0.5, .13);
  
}
header {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 100;
}

.logo {
  height: 70px;
  margin: 10px;
}

/* Footer */
footer {
  padding: 2rem;
  margin-top: 4rem;
}

.lang-link {
  margin-right: 1rem;
}

.language-selector a {
  margin: 0 0.5rem;
  color: black;
}

.social-links {
  font-size: 1.5em;
}

.social-links a {
  color: black;
  margin: 0 0.5rem;
}

/* Responsive Layout Adjustments */

@media (max-width:1023px){
  .nav-links{
    display:none;
  }
}

/* .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .container {
    max-width: 560px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1185px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1785px;
  }
}  */