/* Responsive Breakpoints */
@media (max-width: 1023px) {
  .gt-sm { display: none; }
  
  /* .col-md-5 {
    width: 41.666667%;
  } */
  
  /* .col-md-6 {
    width: 50%;
  } */
}

@media (min-width: 1024px) {
  .lt-xs { display: none; }
}

@media (max-width: 599px) {
  h1 {
    font-size: 3rem !important;
  }
  
  /* .col-sm-2 {
    width: 16.666667%;
  } */
  
  .menu-btn {
    display: block;
  }
  
  /* .offset-md-1 {
    margin-left: 0;
  } */
}

/* Animation Keyframes */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} 