/* Text Utilities */
.text-h1 {
  font-size: 4em;
  font-weight: 300;
  line-height: inherit;
}

.text-black { color: black; }
.text-white { color: white; }

/* Background Colors */
.bg-white { background-color: white; }

/* Display Utilities */
.no-wrap { flex-wrap: nowrap; }

/* Spacing Utilities */
.q-gutter-lg > * {
  margin: 1rem;
}

.q-col-gutter-lg {
  margin: -1rem;
}

.q-col-gutter-lg > * {
  padding: 1rem;
} 