
.hero-img{
  background-color: #0fffad;
  padding: 100px 0;
}
.pre-hero{
  font-size: 1.5rem;
  margin-top: 50px;
}
.hero-text h1{
  margin: 10px 0;

}
.about-icons{
  width:75px;
  height:75px;
  background-color: #0fffad;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-icons svg{
  width: 50px;
  height: 50px; 
}
.team-card{
  border-radius: 20px;
  border-color: #0fffad;
  transition: 0.3s;
  height:100%;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 5px 0px ;
}
.team-name{
  margin:0;
}
.team-position{
  font-size: 16px;
  font-weight: 700;
}
.team-position::after{
  content: "";
  display: block;
  width: 50%;
  height: 6px;
  background-color: #0fffad;
  margin-bottom: 10px 0 10px 0;
}
.team-img{
  filter: grayscale(100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.3s;
}
.team-card:hover .team-img{
  filter: grayscale(0%);
}
.team-card:hover{
  border-color: rgb(203, 213, 225) 0px 7px 17px;
  transform:translateY(0px);
  box-shadow: rgb(203, 213, 225) 0px 10px 20px;

  

  
}